.guidelines-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guidelines-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.guidelines-box {
    display: flex;
    gap: 1rem;
}