.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:  transform 0.25s ease, background-color 0.25s ease, outline-offset 0.15s ease;
    padding: 1.25rem 1.5rem;
    outline: none;  
    border: none;
}

.btn:hover {
    transform: translateY(-1px);
  }
  
.btn:active {
    transform: translateY(0);
}

.btn:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
    transition: outline-offset 0.15s ease;
}

.btn--small {
    height: 2.5rem;
    font-size: var(--font-size-body);
}

.btn--medium {
    height: 3rem;
    font-size: var(--font-size-body);
}

.btn--big{
    height: 4rem;
    font-size: var(--font-size-header-4);
}

.btn--white {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 100px;
    border: 1px solid var(--primary-color);
}

.btn--blue {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 100px;
}

.btn--red {
    background-color: #FF0000;
    color: var(--white-color);
    border-radius: 100px;
}

.btn--transparent {
    background-color: transparent;
    color: var(--white-color);
    border-radius: 100px;
    border:1px solid var(--white-color);
}

.btn-register {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-4);
}

.btn-logout {
    font-size: var(--font-size-header-4);
    width: 10rem;
}
