.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: calc(100vh - 6rem);
    width: 100%;
    font-size: var(--font-size-body);
}

.input-wrapper {
    position: relative;
    align-items: center;
  }
  
  .birthday-calendar {
    position: absolute;
    right: 10px;
    top: 58%;
    right: 4%;
    cursor: pointer;
    z-index: 1;
  }

  .profile-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40%;
  }

  .profile-form-container-input {
    width: 100%;
    font-size: var(--font-size-header-2);
  }

  .view-mode-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .view-mode {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%
  }

  .view-mode-label span {
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
  }

  .edit-profile-btn {
    width:fit-content;
    margin: 0 auto;
  }